/*Site.css collection of css overrides and extra styles not provided by bootstrap. */

section,h1,h2,h3,h4,h5,h6 {  
  font-family:  "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body { height: 100%; }
section{ padding-top: 70px; height:100%;}


#education .year {
  min-width: 60px;
}